.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.logo__github {
    width: 30px;
    height: 30px;
} 

.logo__rsschool {
    width: 100px;
    height: 30px;
}

.logo__github:hover,
.logo__rsschool:hover {
    opacity: 0.5;
}